@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 antialiased overflow-x-hidden min-h-screen text-base selection:bg-emerald-500/30 selection:text-emerald-100;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }
}